node_modules
.husky
com.courcelle.cryptoticker.streamDeckPlugin
com.courcelle.cryptoticker-dev.sdPlugin/js/signalr_v8.0.0.min.js
com.courcelle.cryptoticker-dev.sdPlugin/libs
*.png
*.jpg
*.jpeg
*.gif
*.svg
